<link href="ascii.css" rel=stylesheet>
<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@home:~$</h1>
    </a>
    <div class=ascii">
      <div class="ascii-art-1" role="img" aria-label="ASCII BRAND NAME">
oooooooooo.                               .o8                     .oooooo.                 .        ooooo                   .o8                
`888'   `Y8b                             "888                    d8P'  `Y8b              .o8        `888'                  "888                
 888      888  .oooo.   ooo. .oo.    .oooo888  oooo    ooo      888           .oooo.   .o888oo       888          .oooo.    888oooo.   .oooo.o 
 888      888 `P  )88b  `888P"Y88b  d88' `888   `88.  .8'       888          `P  )88b    888         888         `P  )88b   d88' `88b d88(  "8 
 888      888  .oP"888   888   888  888   888    `88..8'        888           .oP"888    888         888          .oP"888   888   888 `"Y88b.  
 888     d88' d8(  888   888   888  888   888     `888'         `88b    ooo  d8(  888    888 .       888       o d8(  888   888   888 o.  )88b 
o888bood8P'   `Y888""8o o888o o888o `Y8bod88P"     .8'           `Y8bood8P'  `Y888""8o   "888"      o888ooooood8 `Y888""8o  `Y8bod8P' 8""888P' 
                                               .o..P'                                                                                          
                                               `Y8P'                                                                                           
        <figcaption id="brand-caption">
                                   Dandy Cat Labs illustrated using preformatted text characters
        </figcaption>
      </div>
    </div>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
