<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@home:~$</h1>
    </a>
    <pre>#

 _____                  _           ______              _            _          
(____ \                | |         / _____)     _      | |          | |         
 _   \ \ ____ ____   _ | |_   _   | /      ____| |_    | |      ____| | _   ___ 
| |   | / _  |  _ \ / || | | | |  | |     / _  |  _)   | |     / _  | || \ /___)
| |__/ ( ( | | | | ( (_| | |_| |  | \____( ( | | |__   | |____( ( | | |_) )___ |
|_____/ \_||_|_| |_|\____|\__  |   \______)_||_|\___)  |_______)_||_|____/(___/ 
                         (____/                                                 

    #</pre>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
