

.ascii-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(2.5rem, 12vmin) 1fr 5rem;
  grid-template-areas: 
    "ascii"
  min-height: 100vh;
}

.ascii-item { grid-area: ascii; }

.ascii-container > div {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: max(0.2rem, 1vmin);
}

@media only screen and (max-device-width: 700px) {
  .ascii-container {
    grid-template-rows: 6rem auto 5rem;
  }
  .ascii-item {
    font-size: 55%;
  }
}
