body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(2.5rem, 12vmin) 1fr 5rem;
  grid-template-areas: 
    "header header" 
    "head head"
    "footer footer";
  min-height: 100vh;
}

header {
  grid-area: header;
}

header pre {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: max(0.2rem, 1vmin);
}

@media only screen and (max-device-width: 700px) {
  body {
    grid-template-rows: 6rem auto 5rem;
  }
  header {
    font-size: 55%;
  }
}
